.responsive-image {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.image-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.large-image {
    display: block;
}

.small-image {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 0;
    transform: scaleY(-1);
}

.details-service {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    & .infos-details {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

        & .p-card.p-component.infos-details-card {
           width: 21rem;
           margin: 1%;
           display: flex;
           flex-direction: column;

           & .img-card-service {
               border-style: none;
               width: 100%;
               height: 10rem;
               object-fit: cover;
               border-top-left-radius: 0.25rem;
               border-top-right-radius: 0.25rem;
           }

           & .p-card-body {
              display: flex;
              flex-direction: column;
              gap: 2rem;
              justify-content: space-between;
              padding: 1rem;
              flex: 1;
           }

           & .link-button-contact {
               font-weight: 600;
               background-color: #3A6883;
               border-style: solid;
               border-width: 2px 2px 2px 2px;
               border-color: white;
               border-radius: 20px 20px 20px 20px;
               padding: 0.5rem 0.75rem 0.5rem 0.75rem;
               display: inline-block;
               text-align: center;
           }
        }
    }
}