.navbar {
    position: fixed;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: 1;
}

.navbar.transparent {
    background-color: transparent;

    & .nav-items li a:hover,
      .nav-items li i:hover {
        background-color: hsla(0,0%,100%,.2);
        border-radius: .1875rem;
    }
}

.navbar.transparent.open-menu,
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.75);

    & .nav-items li a:hover,
     .nav-items li .pi.pi-angle-down:hover{
        background-color: hsla(0,0%,100%,.2);
        border-radius: .1875rem;
    }
}

a {
    text-decoration: none;
    color: white;
}

.name {
    font-weight: bold;

    & .logo {
        height: 1.25rem;
        top: 0.25rem;
        position: relative;
    }
}

.nav-menu {
    color: white;
    background-color: transparent;
}

.button-pi-bars{
    display: none;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        & .content-navbar-dropdown {

            & .title-content-nav {
                display: flex;
                align-items: center;

                & a {
                    width: max-content;
                }
            }

            display: flex;
            justify-content: flex-end;
        }

        li {
            padding: 0 10px;

            & a {
                padding: 0.5rem;
            }

            & .pi.pi-angle-down {
              padding-block: 0.5rem;
            }
        }
    }
}

.navbar-contact .link-button-contact {
    font-weight: 600;
    background-color: #3A6883;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    display: inline-block;
    text-align: center;

}

@media screen and (max-width: 950px) {

    .header-navbar {
        display: flex;
        justify-content: space-between;

        .name {
            display: flex;
            justify-content: center;
            width: 90%;
            position: absolute;
        }
    }

    .nav-menu {
        padding-top: 10px;
        width: 100%;
    }

    .nav-menu .open-menu {
        padding: 0 30px 20px 30px;
        opacity: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3em;
    }

    .nav-menu .closed-menu {
        padding: 10px 30px;
        display: none;
    }

    .nav-content {
        flex-direction: column;
        z-index: 100;
        position: relative;
        transition: all 0s ease-out;

        &.open-menu {
            z-index: 1;
        }
    }

    . content-nav-items {
        justify-content: flex-start !important;
        display: flex;
    }

    .nav-items {
        flex-direction: column;
        align-items: start !important;
        gap: 0.5rem;
        padding-left: 25%;
        align-items: start !important;

        & .content-navbar-dropdown {
            display: flex;
            flex-direction: column;
        }

        & .topographie-nav {
            padding-top: 0.5rem;
        }

        & span {
            font-weight: bold;
        }

        & .dropdown-menu {
            position: unset;
            border-radius: 0;
            border: none !important;
            background-color: transparent;
            padding: 0;
            display: none;
            z-index: 10;
            margin-top: 0;
            margin-inline: 0;
            text-align: left;
            font-size: 12px;

            & li {
                & a {
                   color: white !important;
                   display: block;

                   &:hover {
                      background-color: hsla(0,0%,70%,.2);
                      border-radius: .1875rem;
                      display: block;
                   }
                }
            }
        }

        & .nav-items li:hover .dropdown-menu {
           display: flex;
           flex-direction: column;
           justify-content: space-around;
        }
    }

    .button-pi-bars {
        display: block;
        text-align: left;
        z-index: 1;

        & .pi-bars {
            z-index: 2;
            font-size: 1.5rem;
            cursor: pointer;

            &.pi-bars-closed-menu {
                padding: 0 0 10px 10px;
                position: unset;
            }

            &.pi-bars-open-menu {
                padding-left: 10px;
                position: absolute;
            }
        }
    }
}

.dropdown-menu {
  position: absolute;
  border-radius: .1875rem;
  border: 1px solid black;
  background-color: white;
  list-style: none;
  padding: 10px;
  display: none;
  z-index: 10;
  margin-top: 2.15rem;

  & li {
    & a {
      color: black !important;
      display: block;

      &:hover {
         background-color: hsla(0,0%,70%,.2);
         border-radius: .1875rem;
         display: block;
      }
    }
  }
}

.nav-items li:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown-menu li {
  padding: 5px 10px;
}

.disable-logo-header {
  display: none;
}

.show-logo-header {
  display: block;
}

