.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centered-div {
    padding: 20px;
    max-width: 80%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 170px) {
    .container-loader {
        justify-content: normal;
    }
}
