.contact-global{
    background-color: black;

    & .contact {
        display: flex;
        gap: 2%;
        padding-top: 6rem;

        & .side-formulaire-contact {
            background-color: white;
            border-radius: 0.25rem;
            padding: 2rem;
            width: 49%;
        }

        & .side-info-contact {
            width: 49%;
            color: white;

            & .info {
                height: 100%;
                flex-direction: column;
                justify-content: center;
                display: flex;
                gap: 2%;

                & .info-content {
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;

                  & .contact-email, .contact-phone {
                    text-decoration: underline;
                  }

                  & .social-network {
                    display: flex;
                    gap: 1rem;

                    & i {
                      font-size: 1.5rem;
                    }
                  }

                  & span {
                    width: 100%;
                    display: block;
                  }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
  .contact {
      display: flex;
      flex-direction: column;
      gap: 2%;

      & .side-formulaire-contact {
          width: 100% !important;
      }

      & .side-info-contact {
          width: 100% !important;
          margin-bottom: 3rem;
      }
  }
}