.about {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .about-title {
        display: block;
        text-align: center;
        font-size: 3vw;
    }

    .p-divider-content {
        z-index: 0;
        padding-inline: 1rem;
    }

    & .presentation-container {

         & .presentation-content {
             text-align: center;

             & .presentation {
                 width: 75%;
                 display: inline-flex;
             }
         }
    }


    & .service-container {
        display: flex;
        flex-direction : column;
        gap: 2rem;

        & .service-inspection-content {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            width: 100%;
            margin-bottom: 1rem;
            align-items: center;

            & .img-inspection {
                left: 2%;
            }
        }

        & .service-image-content,
        .service-custom-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1rem;
            align-items: center;
        }

        & .service-sub-content {
            width: 50%;
            height: 100%;
            align-items: center;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            background-color: rgba(255, 255, 255, 0.75);

            &.inspection {
                width: 49%
            }

            & .service-title {
                font-weight: bold;
                text-decoration: underline;
                font-size: 1.25rem;
            }

            & .service-description {
                text-align: center;
            }

            & .service-button {
                background-color: #E0E0E0;
                padding: 0.5rem;
                border-radius: 0.25rem;
            }
        }

        & .image {
            width: 50%;
            height: auto;
        }

        & img.v-img__img.v-img__img--cover {
            width: 98%;
            border-radius: 0.5rem;
        }
    }
}

@media screen and (max-width: 700px) {

    & .service-image-content,
    .service-custom-content,
    .service-inspection-content {
        display: flex;
        flex-direction: column !important;
        gap: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    & .service-sub-content {
        width: 100% !important;
        padding: 0 !important;
    }

    & .image {
        width: 100% !important;
        height: auto;
    }

    & img.v-img__img.v-img__img--cover {
        width: 100% !important;
    }

    & .img-inspection {
        left: 0 !important;
    }
}