.container-global-portal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-portal {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
}

.portal {
    width: 40%;
}

@media screen and (max-width: 475px) {
    .container-global-portal {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 95vh;
    }

    .container-portal {
        flex-direction: column;
        display: flex;
        margin-inline: 5%;
        height: 90vh;
        justify-content: space-around;
    }

    .portal {
        width: 100%;
        height: 40%;
    }
}