

.responsive-image {
    width: 100%;
    max-height: 100vh;
    object-fit: cover; /* Ensures the image covers the container without being distorted */
}

.image-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.large-image {
    display: block;
}

.small-image {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 10;
    transform: scaleY(-1);
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    & .content-photo {
        width: 100%;

        & .photo {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
    }

    & .content-description {
        text-align: center;

        & span {
            width: 75%;
            display: inline-flex;
        }
    }
}