@font-face {
    font-family: 'Quicksand';
    src: url('src/assets/Fonts/Quicksand-Regular.ttf') format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;

    .container {
        margin-inline: 5rem;
    }

    .font-lighter {
        color: #8e8e8e;
    }
}