@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;

    .container {
        width: 90%; /* This gives the container a width of 90% of the viewport */
        max-width: 1200px; /* Maximum width for larger screens */
        padding: clamp(10px, 2vw, 30px); /* Padding scales with viewport width, but within a defined range */
        margin: 0 auto; /* Center the container */
        box-sizing: border-box;
    }

    .font-lighter {
        color: #8e8e8e;
    }
}